/* regole di debug macro */

[class^='container'] {
    border: 1px dashed black;
    background-color: lightblue;
    /* min-height: 80vh; */
}

[class^='row'] {
    border: 1px dashed red;
}

[class^='col'] {
    min-height: 100px;
    background-color: #f1d2e7;
    border: 1px solid #d0a8eb;
}

/* regole navbar */
header .nav-link {
    color: red;
}

header .nav-link:hover {
    color: green;
}

.titolo {
    color: red;
}

.male {
    color: red;
}

.female {
    color: violet;
}


#bottone {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

.saluto-bg1 {
    background-color: aqua;
}

.saluto-bg2 {
    background-color: burlywood;
}