/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */
header {
    background-color: blueviolet;
    height: 200px;
    margin-bottom: 30px;
}

/* regole del blocco centrale */

.container {
    display: flex;
    flex-direction: row;
    /* gap: 30px; */
    align-items: flex-start;
    margin: 0 20px;
    /* justify-content: space-between; */
}

#main-nav {
    font-size: 14px;
    flex-basis: 30%;
    flex-shrink: 0;
    padding: 0 10px;
    /* DEBUG */
    background-color: blue;
    height: 250px;
}

#main-nav ul {
    list-style: none;
    margin-bottom: 30px;
}

#main-nav a {
    text-decoration: none;
    color: #000;
}


main {
    flex-grow: 1;
    padding: 0 10px;
    /* flex-basis: 70%; */
    /* DEBUG */
    background-color: red;
    height: 450px;
}

aside {
    padding: 0 10px;
    flex-basis: 25%;
    /* DEBUG */
    background-color: green;
    height: 250px;
}





/* regole footer */
footer {
    margin-top: 30px;
    background-color: brown;
    min-height: 200px;
}